minishell
test
obj/src/check.o
obj/src/error.o
obj/src/execution.o
obj/src/heredoc.o
obj/src/parser.o
obj/src/signals.o
obj/src/utils.o
obj/src/builtins/cd.o
obj/src/builtins/echo.o
obj/src/builtins/env.o
obj/src/builtins/exit.o
obj/src/builtins/export_utils.o
obj/src/builtins/export.o
obj/src/builtins/pwd.o
obj/src/builtins/unset.o
obj/src/builtins/utils.o
obj/src/lib/ft_arrcmp.o
obj/src/lib/ft_arrdup.o
obj/src/lib/ft_arrfree.o
obj/src/lib/ft_arrlen.o
obj/src/lib/ft_isalnum.o
obj/src/lib/ft_isalpha.o
obj/src/lib/ft_issep.o
obj/src/lib/ft_istoken.o
obj/src/lib/ft_itoa.o
obj/src/lib/ft_lstfree.o
obj/src/lib/ft_lstnew.o
obj/src/lib/ft_lstsize.o
obj/src/lib/ft_putstr_fd.o
obj/src/lib/ft_setflag.o
obj/src/lib/ft_strchr.o
obj/src/lib/ft_strdup.o
obj/src/lib/ft_strjoin.o
obj/src/lib/ft_strlen.o
obj/src/lib/ft_strncmp.o
obj/src/lib/ft_substr.o
obj/src/lib/ft_swapstr.o
obj/src/lib/ft_unsetflag.o
obj/src/lib/lst_to_arr.o
obj/src/lib/ft_isbuiltin.o
